@type: 'extra';
@element: 'custom';

@import 'listing-cards.variables';

@import (multiple, reference, optional) '../../theme.config';

.text-color {
  font-weight: bold;

  &.with-border::before {
    position: absolute;
    top: -8px;
    width: 70px;
    border-top: 5px solid currentColor;
    content: ' ';
  }

  &.achieved {
    color: #006bb8;
  }

  &.on-track {
    color: #47b3ff;
  }

  &.acceleration-needed {
    color: #c69e7b;
  }

  &.wrong-direction {
    color: #8b5e34;
  }
}

.acceleration-needed {
  --background-color: #e7bc91;
}
.wrong-direction {
  --background-color: #8b5e34;
  --text-color: #fff;
}
.on-track {
  --background-color: #47b3ff;
}
.achieved {
  --background-color: #006bb8;
  --text-color: #fff;
}
.block.metadata.taxonomy_eea_target {
  background-color: var(--background-color);
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  color: var(--text-color, @buttonColor);
  text-align: center;
}

.grid.column-grid:has(.eea-target-column) {
  align-items: baseline;
}
.column.eea-target-column {
  margin-bottom: 0;
}

.cardsVisualization {
  .cards {
    row-gap: 2rem;
  }

  .card {
    min-width: 220px !important;
    min-height: 326px !important;
    border-top: 12px solid @tertiaryColor !important;

    .content {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;

      .button {
        width: fit-content;
      }
    }

    .description {
      font-size: 0.85rem;
    }
  }
}

.modal .eea.banner {
  position: relative;
  z-index: 1;
  margin: -1.5rem 0 0 0;

  &::before {
    position: absolute;
    z-index: -1;
    left: -1.5rem;
    width: 103%;
    height: 100%;
    background: #007b6c;
    content: ' ';
  }

  .gradient {
    margin: 0px -1.5rem 0px -1.5rem;

    .content {
      padding-right: 1.5rem;
      padding-bottom: 2rem;
      padding-left: 1.5rem;
    }
  }
}
