@type: 'extra';
@element: 'custom';

@import 'listing-cards.variables';

@import (multiple, reference, optional) '../../theme.config';

.text-color {
  font-weight: bold;

  &.with-border::before {
    position: absolute;
    top: -8px;
    width: 70px;
    border-top: 5px solid currentColor;
    content: ' ';
  }

  &.achieved {
    color: #006bb8;
  }

  &.on-track {
    color: #47b3ff;
  }

  &.acceleration-needed {
    color: #c69e7b;
  }

  &.wrong-direction {
    color: #8b5e34;
  }
}

.benchmark_level[class~='-1'] {
  --background-color: #bcbec0;
}

.benchmark_level[class~='1'] {
  --background-color: #006bb8;
  --text-color: #fff;
}

.benchmark_level[class~='2'],
.benchmark_level[class~='3'] {
  --background-color: #47b3ff;
}

.benchmark_level[class~='4'],
.benchmark_level[class~='5'] {
  --background-color: #e7bc91;
}

.benchmark_level[class~='6'],
.benchmark_level[class~='7'] {
  --background-color: #8b5e34;
  --text-color: #fff;
}

.benchmark_level[class~='8'],
.benchmark_level[class~='9'] {
  --background-color: #e6e6e6;
  --text-color: #3d5265;
}

.visualization-card-modal {
  max-width: var(--visualization-modal-max-width, 1120px);
  overflow-x: hidden;

  &.enlarge-modal.ui.modal .close.icon {
    top: 1.5rem;
    right: 1.5rem;
  }

  &.enlarge-modal.ui.modal .close.icon > i {
    color: #fff;
    font-size: 44px;
  }

  #references-and-footnotes,
  #references-and-footnotes + *,
  #related-content,
  #related-content + * {
    display: none;
  }
}

.benchmark_level_wrapper {
  display: flex;
  align-items: baseline;
  margin-top: auto;
  font-size: 0.875rem;
  gap: 0.25rem;
  line-height: 1.2;
}

.metadata.benchmark_level {
  padding: var(--padding, 0.5rem 1.5rem);
  margin-bottom: 0;
  background-color: var(--background-color);
  color: var(--text-color, @buttonColor);
  font-weight: 500;
  text-align: center;

  &.block {
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 4px 8px;
  }
}

.metadata.benchmark_level:not(.array) {
  --padding: 0;
  width: 15px;
  height: 15px;
}

.grid.column-grid:has(.benchmark-level-column) {
  align-items: center;
}

.column.benchmark-level-column {
  margin-bottom: 0;
}

.cardsVisualization {
  .ui.cards {
    row-gap: 2rem;
  }

  .ui.cards .ui.card {
    min-width: 200px !important;
    min-height: 326px !important;
    border: 1px solid #f9f9f9;
    border-top: none;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    &::before {
      display: block;
      width: calc(100% + 2px);
      height: 12px;
      margin-left: -1px;
      background-color: @tertiaryColor;
      content: '';
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .button {
        width: fit-content;
      }

      .benchmark_level_wrapper + .image {
        margin-top: initial;
      }
    }

    .content.extra {
      align-items: end;
    }

    .description {
      font-size: 0.85rem;
    }
  }
}

.modal .eea.banner {
  position: relative;
  z-index: 1;
  margin: -1.5rem 0 2rem 0;

  &::before {
    position: absolute;
    z-index: -1;
    left: -1.5rem;
    width: var(--visualization-modal-max-width, 1120px);
    height: 100%;
    background: #007b6c;
    content: ' ';
  }

  .gradient {
    margin: 0px -1.5rem 0px -1.5rem;

    .content {
      padding-right: 1.5rem;
      padding-bottom: 2rem;
      padding-left: 1.5rem;
    }
  }
}
